* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d2d0d0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    
    background-color: #0555aa;
    color: #f8fafb;
    text-align: center;
    padding: 10px 1
}

header h1 {
    margin-bottom: 10px;
}

/* NAV */

nav {
    background-color: #0055aa;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

nav li {
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */

main {
    width: 90%;
    margin: 20px auto;
    flex: 1;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
   }

section h2 {
    margin-bottom: 15px;
    color: #003366;
}

/* MÓDULOS */

.contenedor-modulos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.modulo {
    flex: 1 1 250px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 15px;
    background-color: #fafafa;
}

.modulo h3 {
    color: #0055aa;
    margin-bottom: 10px;
}

.modulo p {
    margin-bottom: 15px;
}

/* BOTONES */

.btn {
    display: inline-block;
    background-color: #0055aa;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: #003366;
}

/* FOOTER */

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}